@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Template Style =========== */
body {
  font-family: "Roboto", arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 26px;
  color: #818892;
  background: #f5f6f7;
}

a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  outline: none;
}

p {
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Montserrat", arial, sans-serif;
}

::-webkit-selection {
  color: #818892;
  background: #f9f6f0;
}

::-moz-selection {
  color: #818892;
  background: #f9f6f0;
}

::selection {
  color: #818892;
  background: #f9f6f0;
}

/*登录页面*/
canvas{
  position:absolute;
  z-index:-1;
}
/*每日精选*/
div.daily-img{
  position: absolute;
  top:20%;
  left:10%;
  width:500px;
  height:400px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius:4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  margin:10px 10px 20px 20px;
  background: #f5f6f7;
  overflow:hidden;
  z-index:1;
}
div.daily-img a{
  display:block;
  cursor:pointer;
}
div.daily-img .descriptions{
  padding:10px;
  float:left;
  line-height:24px;
}
div.daily-img .border-image{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}
div.daily-img img {
  max-width: 100%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
div.daily-img .image-popup:hover img{
  opacity:.5;
}

/*登录、注册表单*/
form{
    width:350px;
    height:auto;
    position:absolute;
    top:20%;
    left:50%;
    margin-top:10px;
    margin-left:50px;
}


/*菜单栏*/
#time-offcanvass,#imgs-offCanvas {
  position: fixed;
  z-index: 88;
  top: 0;
  right: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(320px);
  -moz-transform: translateX(320px);
  -ms-transform: translateX(320px);
  -o-transform: translateX(320px);
  transform: translateX(320px);
  bottom: 0;
  width: 300px;
  padding: 40px 30px;
  background: #fff;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
}
#time-offcanvass .time-lead{
  font-size:12px; !important;
  letter-spacing: 2px; 
  color: #ccc;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#time-offcanvass ul {
  padding: 0;
  margin: 0 0 30px 0;
}
#time-offcanvass ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#time-offcanvass ul li a {
  display: block;
  padding: 7px 4px;
  border-bottom: 1px solid #eaeaea;
  font-size: 18px;
  color: #444;
}
#time-offcanvass ul li a:hover, #time-offcanvass ul li a:focus, #time-offcanvass ul li a:active {
  outline: none;
  text-decoration: none;
  color: #EF5353;
}
#time-offcanvass ul li.active a {
  color: #EF5353 !important;
}
#time-offcanvass.time-awake,#imgs-offcanvass.time-awake {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#time-offcanvass .time-offcanvass-close {
  position: absolute;
  right: 20px;
  top: 30px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  font-family: "Montserrat", arial, sans-serif;
  z-index: 99;
  float: left;
  color: #444;
}
#time-offcanvass .time-offcanvass-close i {
  font-size: 20px;
  margin-top: 3px;
  float: right;
  margin-left: 10px;
  color: red;
}
#time-offcanvass .time-offcanvass-close:hover, #time-offcanvass .time-offcanvass-close:focus, #fh5co-offcanvass .fh5co-offcanvass-close:active {
  outline: none;
  text-decoration: none;
}
#time-offcanvass .time-logo {
  display: block;
  float: left;
  width: 100%;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 0;
  margin: 40px 0 0 0;
}
#time-offcanvass .time-logo a {
  color: #000;
  padding: 0;
  margin: 0;
}

.time-menu-btn {
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  float: right;
  margin-top: 16px;
  font-family: "Montserrat", arial, sans-serif;
  color: #444;
}
.time-menu-btn i {
  font-size: 20px;
  margin-top: 3px;
  float: right;
  margin-left: 10px;
}
.time-menu-btn:hover, .time-menu-btn:focus, .time-menu-btn:active {
  outline: none;
  text-decoration: none;
  color: #777777;
}

#time-header {
  float: left;
  width: 100%;
  position: relative;
  padding-top: 4em;
  padding-bottom: 4em;
}
@media screen and (max-width: 480px) {
  #time-header {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
#time-header .navbar-brand {
  text-align: center;
  font-weight: bold;
  display: block;
  float: none !important;
  width: 200px;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  font-family: "Montserrat", arial, sans-serif;
  color: #000;
}
#time-header .navbar-brand:hover {
  color: #404040;
}
@media screen and (max-width: 480px) {
  #time-header .navbar-brand {
    float: left !important;
    margin: inherit;
    text-align: left;
    padding-left: 0;
    margin-left: 0;
  }
}

/*主页照片内容*/
#time-main {
  padding-top:5em;
}

#time-board .item {
  margin: 10px 10px 20px 10px;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}
#time-board .item a {
  display: block;
}
#time-board .item .time-desc {
  padding: 20px;
  float: left;
  line-height: 24px;
}
#time-board .item .time-state{
  padding:0 0 5px 20px;
  clear:both;
  line-height:24px;
}
#time-board .item .time-item-title {
  font-family: "Montserrat", arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
#time-board .item img {
  max-width: 100%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
#time-board .item .time-board-img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}
#time-board .item .image-popup:hover img {
  opacity: .5;
}

/*底部*/
#time-footer {
  padding: 5em 0 0 0;
}
@media screen and (max-width: 768px) {
  #time-footer {
    padding: 5em 0 0 0;
  }
}
#time-footer .time-footer-widget {
  padding-right: 30px !important;
  float: left;
  width: 100%;
}
#time-footer .time-footer-widget.top-level {
  margin-top: 30px !important;
}
#time-footer .time-footer-widget .fh5co-footer-lead {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#time-footer .time-footer-logo {
  font-family: "Montserrat", arial, sans-serif;
  font-size: 30px;
  color: #ccc;
  margin-bottom: 30px;
}
#time-footer ul {
  padding: 0;
  margin: 0;
}
#time-footer ul li {
  list-style: none;
  padding: 0;
  margin: 0 0 14px 0;
  line-height: 16px;
}

.fh5co-list-check {
  position: relative;
  padding: 0;
  margin: 0;
  clear: both;
}
.fh5co-list-check li {
  padding-left: 25px !important;
  position: relative;
  display: block;
  margin-bottom: 10px !important;
  line-height: 20px;
}
.fh5co-list-check li:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e116";
  content: "\e042";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  color: #ccc;
}

/*相册albums*/
.time-album-table {
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom:20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.time-album-table img{
  max-width:100%;
  overflow:hidden;
  cursor:pointer;
}
.time-album-table h3 {
  font-size: 18px;
}
.time-album-table .albums-see{
  position:absolute;
  font-size:35px;
  right:15%;
  bottom:30%;
  color:#fff;
}

.fh5co-spacer {
  clear: both;
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
}

.fh5co-spacer-xlg {
  height: 150px;
}
@media screen and (max-width: 768px) {
  .fh5co-spacer-xlg {
    height: 70px;
  }
}

.fh5co-spacer-lg {
  height: 100px;
}
@media screen and (max-width: 768px) {
  .fh5co-spacer-lg {
    height: 50px;
  }
}

.fh5co-spacer-md {
  height: 80px;
}
@media screen and (max-width: 768px) {
  .fh5co-spacer-md {
    height: 30px;
  }
}

.fh5co-spacer-sm {
  height: 50px;
}
@media screen and (max-width: 768px) {
  .fh5co-spacer-sm {
    height: 20px;
  }
}

.fh5co-spacer-xs {
  height: 30px;
}
@media screen and (max-width: 768px) {
  .fh5co-spacer-xs {
    height: 20px;
  }
}

.fh5co-spacer-xxs {
  height: 20px;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.fh5co-mb30 {
  margin-bottom: 30px;
}

.fh5co-row-padded {
  padding: 50px 0;
}

/*icon*/
.time-social-icons > a {
  padding: 4px 10px;
  color: #EF5353;
}
.time-social-icons > a:hover, .time-social-icons > a:focus, .time-social-icons > a:active {
  text-decoration: none;
  color: #444;
}


.js .to-animate {
  opacity: 0;
}

/*查看大图*/
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/* Image Alignment */
img.fh5co-align-right {
  float: right;
  margin: 0 0 .5em 1em;
}
@media screen and (max-width: 480px) {
  img.fh5co-align-right {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
img.fh5co-align-left {
  float: left;
  margin: 0 1em .5em 0;
}
@media screen and (max-width: 480px) {
  img.fh5co-align-left {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
img.fh5co-align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a > img.fh5co-align-right {
  float: right;
  margin: 0 0 .5em 1em;
}
@media screen and (max-width: 480px) {
  a > img.fh5co-align-right {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
a > img.fh5co-align-left {
  float: left;
  margin: 0 1em .5em 0;
}
@media screen and (max-width: 480px) {
  a > img.fh5co-align-left {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
a > img.fh5co-align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*friends*/
#time-main{
  padding:5em;
}
#time-main ul.time-friends{
  font-weight:normal;
  font-size:18px;
  color:;
  clear:both;
}
#time-main form{
  position:absolute;
  left:73%;
  top:0;
}
#time-main ul.time-friends li.active a{
  background:#FFF4E1 !important;
}
#time-main ul.time-friends li > a{
  color: #E67A7A;
}
#time-main ul.time-friends li > a.myword{
  color:#99DCDC;
  font-weight:bold;
}

/*相册详细页*/
div.album-imgs div.imgs{
  overflow:hidden;
}
div#page-tag{
  width:100%;
  padding-left:43%;
}

/*好友添加动画*/
div.add-message{
	position:absolute;
	bottom:0;
	right:100px;
  width:360px;
}
div.add-message p{
  width:360px;
  -webkit-animation:animations 1s ease-in forwards;
  -moz-animation:animations 1s ease-in forwards;
  animation:animations 1s ease-in forwards;
}
@-moz-keyframes animations{
  0%{transform:-moz-translate(60px);opacity: 0.3;}
  50%{transform:-moz-translate(35px);opacity: 0.5;}
  70%{transform:-moz-translate(30px);opacity: 0.7}
  100%{transform:-moz-translate(0px);opacity: 1;}
}
@-webkit-keyframes animations{
  0%{transform:-webkit-translate(60px);opacity: 0.3;}
  50%{transform:-webkit-translate(35px);opacity: 0.5;}
  70%{transform:-webkit-translate(30px);opacity: 0.7}
  100%{transform:-webkit-translate(0px);opacity: 1;}
}
@keyframes animations{
  0%{transform:translate(60px);opacity: 0.3;}
  50%{transform:translate(35px);opacity: 0.5;}
  70%{transform:translate(30px);opacity: 0.7}
  100%{transform:translate(0px);opacity: 1;}
}
div.add-message .btn{
  font-size:10px; !important
}


/*# sourceMappingURL=style.css.map */
